/* Nav Bar */
nav {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: whitesmoke;
    height: 70px;
}

nav a {
    float: left;
    text-align: center;
    color: black;
    padding: 5px;
    padding-left: 30px;
    padding-right: 5%;
    text-decoration: none;
}

nav a:hover {
    opacity: 0.8;
    color: rgb(134, 134, 134);
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 2;
    color: black;
}

.title {
    text-align: center;
    font-size: 50px;
}

/* For search bar on index */

.searchBar {
    background-color: lime;
}

.searchForm {
    margin-left: 3%;
    padding-bottom: 3%;
}

.searchInput {
    border-radius: 30px;
    border-style: none;
    width: 35%;
    padding-left: 10px;
}

/* Layouts */

.col50 {
    float: left;
    width: 50%;
}

.singleCol {
    width: 70%;
    align-items: center;
    text-align: center;
    margin: auto;
}

/* Login Page */

.loginShape {
    margin: auto;
    width: 60%;
    background-color: white;
    box-shadow: 3px 3px 3px 3px lightgrey;
    overflow: hidden;
    margin-top: 5%;
    border-radius: 15px;
}

.loginTitle {
    font-size: 40px;
}

.loginFormStyle {
    margin-bottom: 15px;
    border: solid;
    border-color: grey;
    border-radius: 5px;
    padding-left: 5px;
}

.loginBackground {
    background-color: rgb(221, 220, 220);
    align-items: center;
    text-align: center;
    margin: auto;
    height: 100%;
}

.loginSubmit {
    width: 125px;
    background-color: lime;
    border-color: lime;
    text-decoration: none;
    padding: 1%;
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-radius: 20px;
    margin: 3%;
    margin-top: 3%;
}

.loginSubmit:hover {
    transition: ease-in 0.1s;
    transform: scale(1.1);
    background-color: lawngreen;
    border-color: lawngreen;
}

.loginImg {
    width: 100%;
    height: 500px;
    position: relative;
    object-fit: cover;
}

/* Write a review */

.reviewStyle {
    text-align: center;
}

.reviewFormStyle {
    margin-bottom: 15px;
    border: solid;
    border-color: grey;
    border-radius: 5px;
    padding-left: 5px;
    width: 50%;
}

.reviewBackground {
    background-color: rgb(131, 236, 26);
}

.writeBtn {
    text-align: left;
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    padding-left: 5%;
}

.displayBackground {
    background-color: rgb(225, 253, 183);
}

.starAlign {
    float: left;
}

.displayCard {
    width: 45%;
    margin: auto;
}

.reviewBody {
    font-size: 20px;
}

.activeUser {
    color: goldenrod;
}

/* Profile page */

.editName {
    background-color: whitesmoke;
    border: solid;
    border-radius: 5px;
    padding: 2%;
    margin-top: 3%;
}

.profileCard {
    width: 60%;
    margin: auto;
    margin-bottom: 5%;
}

.deleteBtn {
    margin-top: 5%;
}

.noReviews {
    margin-top: 15%;
    text-align: center;
}

.deleteAccount {
    width: 100%;
}

.logoutBtn {
    align-items: center;
    margin: auto;
    margin-left: 35%;
    margin-top: 5%;
}

/* Most liked reviews */

.mostLiked {
    width: 33%;
    float: left;
}

.mostLikedCard {
    margin: 5%;
}

.mostLikedTitle {
    margin: 3%;
}

/* Responsiveness */
@media only screen and (max-width: 900px) {
    * {
        font-size: 15px
    }

    nav a {
        font-size: 20px
    }

    nav {
        height: 50px;
    }

    .col50 {
        width: 100%;
    }

    .mostLiked {
        width: 100%;
    }

    .card-body {
        font-size: 15px;
    }
}