/* Nav Bar */
nav {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: whitesmoke;
    height: 70px;
}

nav a {
    float: left;
    text-align: center;
    color: black;
    padding: 5px;
    padding-left: 30px;
    padding-right: 5%;
    text-decoration: none;
}

nav a:hover {
    opacity: 0.8;
    color: rgb(134, 134, 134);
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 2;
    color: black;
}