{% extends "base.html" %}
{% block content %}
  <br>
  <!-- Error flash messages -->
  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

  <!-- Search bar to search for statium by name -->
  <section class="searchBar">
    <div class="searchForm">
      <br>
      <h2>Search for Stadium</h2>
      <br>
      <form action="/searchbar", method="POST">
        <input name = "stadName" type = "text" id = "stads" class = "searchInput">
      </form>
      <br>

      <!-- Autocomplete function -->
      <script>
        $(function() {
          var stadNames = [
            {% for name in stadiums %}
              "{{ name }}",
            {% endfor %}
          ];
          $( "#stads" ).autocomplete({
            source: stadNames
          });
        });
      </script>
    </div>
  </section>

  <!-- 3 most liked reviews -->
  <section>
    <h3 class="mostLikedTitle">Most Liked</h3>
    <!-- Message if no liked reviews -->
    {% if empty == None %}
      <p class="mostLikedTitle">No reviews have been liked</p>
    {% endif %}
    {% for review in reviews %}
      {% for like in mostLiked %}
        {% if review.id == like[0] %}
          <div class="mostLiked">
            <div class="card mostLikedCard">
              <!-- Card Header -->
              <div class="card-header">
                <!-- Highlights name if this is the current users review -->
                {% if review.user.username == current_user.username %}
                  <div class="activeUser">{{ review.user.name }}</div>
                {% else %}
                  {{ review.user.name }} <br>
                {% endif %}
                {{ review.stadium.name }} <br>
                {{ review.title }} 
              </div>
              <!-- Card Body -->
              <div class="card-body reviewBody">
                {% for i in range(0, review.rating) %}
                  <span class="starAlign">☆</span>
                {% endfor %} 
                <br>
                {{ review.review }} <br> 
                Date of Visit: {{ review.date.strftime('%Y-%m-%d') }}
              </div> 
              <!-- Card Footer -->
              <div class="card-footer">
                <span>Likes: </span>{{ like[1] }}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </section>

{% endblock %}