{% extends "base.html" %}
{% block content %}
  <body class="loginBackground">
    <br><br>
    <!-- Error flash messages -->
    <div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>

    <!-- Login Container -->
    <div class="loginShape">
      <div class="col50"> <br>
        <p class="loginTitle">Login</p>
        <!-- Login Form -->
        <form method="POST" name="loginForm">
            {{ loginForm.hidden_tag() }}
            {{ loginForm.loginName(class_='loginFormStyle') }}
            {{ loginForm.loginPassword(class_='loginFormStyle') }}
            <!-- Btn for signup -->
            <p>Don't have an account? <a href="{{ url_for('signup') }}">Signup</a></p>
            <input type="submit" value="Login" class="loginSubmit">
          </form>
      </div>
      <div class="col50">
        <img src="{{ url_for('static',filename='loginBack.jpg') }}" alt="Girona FC Stadium" class="loginImg">
      </div>
    </div>
  </body>
{% endblock %}