{% extends "base.html" %}
{% block content %}
  <body class="loginBackground">
    <br><br>
    <div class="loginShape">
      <div class="col50"> <br>
        <p>Login</p>
        <form method="POST" name="loginForm">
            {{ loginForm.hidden_tag() }}
            {{ loginForm.loginName(class_='loginFormStyle') }}
            {{ loginForm.loginPassword(class_='loginFormStyle') }}
            <input type="submit" value="Login" class="btn">
          </form>
      </div>
      <div class="col50">
        <p>5</p>
      </div>
    </div>
  </body>
{% endblock %}