{% extends "base.html" %}
{% block content %}
<body onload="editName()">
  <br><br>

  <script>
    function editName() {
      $(document).ready(function() {
        $("#editForm").slideUp();
        $("#editBtn").click(function() {
            $("#editForm").toggle();
        })
      })
    }
  </script>

  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

  <section class="singleCol">
    <span>Hello </span>{{ current_user.name }} <br><br>
    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a> <br>
    
    <div class="editName">
      <p class="card-body">Name: {{ current_user.name }}</p>
      <button class="btn btn-primary" id="editBtn">Edit</button> <br><br>
      <div id="editForm">
        <form method="POST" name="editName">
          {{ editName.hidden_tag() }}
          {{ editName.newName(class_='loginFormStyle') }} <br>
          {{ editName.sameName(class_='loginFormStyle') }} <br>
          <input type="submit" value="Change" class="btn btn-primary">
        </form>
      </div>
    </div>
    <a href="{{ url_for('deleteAccount') }}" class="btn btn-danger deleteBtn">Delete Account</a>
  </section>

  <section class="col50">
    <h3 class="reviewStyle mostLikedCard">Your reviews</h3>
    {% if empty == None %}
      <p class="noReviews">You have no active reviews</p>
    {% endif %}
    {% for review in reviews %}
      <div class="card profileCard">
        <div class="card-header">
          {{ review.title }} <br>
          {% for like in countLikes %}
            {% if like.reviewId == review.id %}
              <span>Likes: </span>{{ like[1] }}
            {% endif %}
          {% endfor %}
        </div>
        <div class="card-body reviewBody">
          {% for i in range(0, review.rating) %}
            <span class="starAlign">☆</span>
          {% endfor %} 
          <br>
          {{ review.review }} <br> 
          Date of Visit: {{ review.date }}
        </div> 
        <div class="card-footer">
          <a href="{{ url_for('deleteReview', id=review.id) }}" class="btn btn-primary">Delete</a>
        </div>
      </div>
      {% endfor %}
  </section>

  <section class="col50">
    <h3 class="reviewStyle mostLikedCard">Liked Reviews</h3>
    {% if likedReviewEmpty == None %}
      <p>No liked reviews</p>
    {% endif %}
    {% for likeReview in likedReview %}
      <div class="card profileCard">
        <div class="card-header">
          {% if likeReview.review.user.username == current_user.username %}
            <div class="activeUser">{{ likeReviewreview.user.name }}</div>
          {% else %}
            {{ likeReview.review.user.name }} <br>
          {% endif %}
          {{ likeReview.review.title }} <br>
        </div>
        <div class="card-body reviewBody">
          {% for i in range(0, likeReview.review.rating) %}
            <span class="starAlign">☆</span>
          {% endfor %} 
          <br>
          {{ likeReview.review.review }} <br> 
          Date of Visit: {{ likeReview.review.date }}
        </div> 
        <div class="card-footer">
          {% for like in countLikes %}
            {% if like.reviewId == likeReview.review.id %}
              <span>Likes: </span>{{ like[1] }}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </section>
</body>
  {% endblock %}