{% extends "base.html" %}
{% block content %}
  <body class="loginBackground">
    <br><br>

    <!-- Error flash messages -->
    <div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>

    <!-- Signup Form -->
    <div class="loginShape">
      <div class="singleCol">
        <p class="loginTitle">SignUp</p>
        <form method="POST" name="signUpForm">
          {{ signUpForm.hidden_tag() }}
          {{ signUpForm.signName(class_='loginFormStyle') }}
          <br>
          {{ signUpForm.signUsername(class_='loginFormStyle') }}
          <br>
          {{ signUpForm.signPassword(class_='loginFormStyle') }} <br>
          <!-- Login Btn-->
          <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
          <input type="submit" value="Create" class="loginSubmit">
        </form>
      </div>
    </div>
  </body>
{% endblock %}