{% extends "base.html" %}
{% block content %}
  <head>
    <script src="{{ url_for('static',filename='javascript.js') }}"></script>
    <script src="https://kit.fontawesome.com/628ba3cb53.js" crossorigin="anonymous"></script>
  </head>
  <body class="displayBackground">
    <br><br>
    <section class="singleCol">
      <h2>{{ stadName }}</h2>
      <div class="writeBtn">
        <a href="{{ url_for('review', name = stadName) }}">Write a Review</a>
      </div>
    </section>
    {% if empty == None %}
      <br><br>
      <p class = "singleCol">No active reviews for this stadium</p>
    {% endif %}
    {% for review in reviews %}
      <br>
      <div class="card displayCard">
        <div class="card-header">
          {% if review.user.username == current_user.username %}
            <div class="activeUser">{{ review.user.name }}</div>
          {% else %}
            {{ review.user.name }} <br>
          {% endif %}
          {{ review.title }}
        </div>
        <div class="card-body reviewBody">
          {% for i in range(0, review.rating) %}
            <span class="starAlign">☆</span>
          {% endfor %} 
          <br>
          {{ review.review }} <br> 
          Date of Visit: {{ review.date }} <br>
        </div> 
        <div class="card-footer">
          {% if likeEmpty == None %}
            <a class="vote" id="{{ review.id }}">
              <i id="not" class="fa-regular fa-thumbs-up"></i>
            </a>
          {% endif %}
          {% for like in likes %}
            {% if like.reviewId == review.id and like.userId == current_user.id %}
              <a class="vote" id="{{ review.id }}">
                <i id="liked" class="fa-solid fa-thumbs-up"></i>
              </a>
            {% endif %}
          {% endfor %}
          <a class="vote" id="{{ review.id }}">
            <i id="not" class="fa-regular fa-thumbs-up hidden"></i>
          </a>
          <a class="vote" id="{{ review.id }}">
            <i id="liked" class="fa-solid fa-thumbs-up hidden"></i>
          </a>
        </div>
      </div>
      {% endfor %}
  </body>
{% endblock %}